<% const d = new Date(); let year = d.getFullYear() %>
<footer class="container">
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
 <a href="/error-test">Trigger 500 Server Error</a>
</footer>
