<nav>
    <ul class="main-nav">
        <li><a href="/" title="Home" class="active">Home</a></li>
        <li><a href="/custom" title="Custom">Custom</a></li>
        <li><a href="/sedan" title="Sedan">Sedan</a></li>
        <li><a href="/suv" title="SUV">SUV</a></li>
        <li><a href="/truck" title="Truck">Truck</a></li>
    </ul>
</nav>